# Simple exercises for control structures in Python
- conditionals
- while loops
- for loops

## FOR loop

In [64]:
heights = [1.82,1.75,1.68,1.76,1.5]

#### 0. Use for loop to print values from "heights" list

In [3]:
for i in heights:
    print(i)

1.82
1.75
1.68
1.76
1.5

#### 1. Use for loop for printing only values bigger than 1.75

In [61]:
for height in heights:
    if height > 1.75:
        print(height)

1.82
1.76

In [21]:
print([height for height in heights if height > 1.75])

[1.82, 1.76]

#### 2. Use for loop for printing all values until you find value 1.68 (included)

In [76]:
for height in heights:
    print(height)
    if height == 1.68:
        break

1.82
1.75
1.68

#### 3. Modify the previous loop to print all values from `"heights"` without value 1.68

In [77]:
for height in heights:
    if height != 1.68:
        print(height)

1.82
1.75
1.76
1.5

#### 4. use for loop over to iterate over `"heights"` and print "high" for values bigger than 1.75, "medium" for values between 1.68 and 1.75 and "small" for values lower than 1.68

In [84]:
for height in heights:
    if height >= 1.75:
        print(height, ' is high')
    elif 1.68 <= height <= 1.75:
        print(height, ' is medium')
    else:
        print(height, ' is small')

1.82  is high
1.75  is high
1.68  is medium
1.76  is high
1.5  is small

## WHILE loop

#### 1. Print out numbers from 0 to 4

In [88]:
x = 0
while x < 5:
    print(x)
    x += 1

0
1
2
3
4

#### 2. use while loop to print out only even numbers lower than 15
hint : use `"%"` modulo operator

In [96]:
x = 0
while x < 15:
    if x % 2 == 0:
        print(x)
    x += 1

0
2
4
6
8
10
12
14

#### 3. use while loop to print all numbers lower than 15 but skip first five values

In [102]:
x = 0
while x < 15:
    if x > 4:
        print(x)
    x += 1

5
6
7
8
9
10
11
12
13
14

## Actors
We have two lists actors and roles which are defined below:

In [118]:
actors = [
    "Nathan Fillion",
    "Gina Torres",
    "Alan Tudyk",
    "Morena Baccarin",
    "Adam Baldwin",
    "Jewel Staite",
    "Sean Maher",
    "Summer Glau",
    "Ron Glass"
]

roles = [
    "Captain Malcolm Reynolds",
    "Zoe Washburn",
    "Hoban Washburn",
    "Inara Serra",
    "Jayne Cobb",
    "Kaylee Frye",
    "Dr. Simon Tam",
    "River Tam",
    "Derrial Book"
]

We would like to produce a credit reel, by matching each actor with their role in the show. We know that both lists are in the correct order, such that for any number—let's say `n`—we know that `actors[n]` and `roles[n]` match. For example, `actors[3]` gives us "Morena Baccarin," and `roles[3]` gives us "Inara Serra," so we know that Morena Baccarin played Inara Serra in the show. **We want to print out the credits for all of the actors in the list.**

Here's an example of what we want to see when the code runs:

Featuring:<br>
=============<br>
Nathan Fillion as Captain Malcolm Reynolds"<br>
....

In [130]:
cast = {actors[n]:roles[n] for n in range(len(actors))}
print('Featuring:')
print('=============')
for n in cast:
    print(n, 'as', cast[n])

Featuring:
=============
Nathan Fillion as Captain Malcolm Reynolds
Gina Torres as Zoe Washburn
Alan Tudyk as Hoban Washburn
Morena Baccarin as Inara Serra
Adam Baldwin as Jayne Cobb
Jewel Staite as Kaylee Frye
Sean Maher as Dr. Simon Tam
Summer Glau as River Tam
Ron Glass as Derrial Book